[package]
name = "tree-sitter-ccini"
description = "A parser to read Cortex Command (Communuity Project) ini data files"
version = "0.1.0"
authors = ["traunts"]
license = "MIT"
readme = "README.md"
keywords = ["incremental", "parsing", "tree-sitter", "ccini"]
categories = ["parsing", "text-editors"]
repository = "https://github.com/cortex-command-community/cortex-command-community-project-vscode-extension"
edition = "2021"
autoexamples = false

build = "bindings/rust/build.rs"
include = ["bindings/rust/*", "grammar.js", "queries/*", "src/*", "tree-sitter.json"]

[lib]
path = "bindings/rust/lib.rs"

[dependencies]
tree-sitter-language = "0.1"

[build-dependencies]
cc = "1.1.22"

[dev-dependencies]
tree-sitter = "0.24.7"
