node_modules
*.vsix
dist/**
tmp/**
temp.*
.nx/**

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc

*.dll
*.exp
*.lib

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o


# Archives
*.tar.gz
*.tgz
*.zip

